<html>
    <title>
        Index Page
    </title>
    <body>
        <h3>Index Page Loading...</h3>
{% block content %}
   <h1>Blogs</h1>
    {% if latest_question_list %}
        {% for post in latest_question_list %}
           <p>
           {% post %}
           </p>
        {% endfor %}
    {% else %}

    {% endif %}
{% endblock %}
    </body>
</html>